<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core.Interops" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="orgCode" value="213" />
    <add key="userName" value="admin" />
    <add key="password" value="admin" />
    <!-- 算力盒子IP-->
    <add key="faceIP" value="http://www.smaradio.tech/facemask/image_predict" />
    <add key="ApiIP" value="http://121.42.44.245:1022/api/faceTempManage/" />
    <add key="defaultDeviceId" value="429ed7f1-5b86-4cd7-97a6-8285163de197" />
    <!--温度传感器串口名称-->
    <add key="serialPort" value="COM1" />
    <!--正常体温-->
    <add key="normarlTemp" value="37.2" />
    <!--环境温度-->
    <add key="envirTemp" value="20" />
    <!--右移-->
    <add key="rightMove" value="10" />
    <!--下移-->
    <add key="downMove" value="0" />
    <!--宽倍数-->
    <add key="widthPro" value="2" />
    <!--高倍数-->
    <add key="heightPro" value="2" />

    <add key="vlcDir" value="D:\VLC" />
    <!--口罩报警-->
    <add key="maskAlarm" value="true" />
    <!--温度报警-->
    <add key="tempAlarm" value="true" />
    <!--图片上传-->
    <add key="alarmImageUp" value="true" />
    
    
    <!--图片删除 n天前的-->
    <add key="deleteImage" value="10" />
  </appSettings>
</configuration>
